*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
  }
   
  a.links{
    display: none;
  }

.clear{
  clear:both;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #e3175e;
}

.logo img {
  max-width: 150px; /* Ajuste o tamanho conforme necessário */
}

  .container{
    background-color: #8a8a8a;
    padding-top: 1%;
  }

  .content{
    width: 450px;
    min-height: 500px;    
    margin: 3% auto;
    position: relative;  
  }

  h1{
    font-size: 48px;
    color: #830810;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(232, 197, 25, 0.8) 20%,rgb(209, 97, 17) 53%,rgba(230, 210, 24, 0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(226, 203, 28, 0.8) 20%,rgb(210, 188, 47) 53%,rgba(203, 173, 22, 0.8) 79%,rgba(147,184,189,0) 100%); 
  }

  p{
    margin-bottom:15px;
  }
   
  .content p:first-child{
    margin: 0px;
  }
   
  label{
    color: #830810;
    position: relative;
  }

  ::-webkit-input-placeholder  {
    color: #f59393; 
    font-style: italic;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  }

  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #830810;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }
   
  input[type="submit"]:hover{
    background: #d5303b;
  }

  .link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
   
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
  }

  #login {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #f0f0f0;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 7px;
  }

footer {
    text-align: center;
    padding: 10px;
    background-color: #7e7e7e;
    width: 100%;
}


/*Essa parte é para atender a pagina inicial*/

  
.cont {
  display: flex;
  justify-content: center; /* Alinha o menu à esquerda */
  padding: 10px;
}

/* Estilo da lista de menu (menu) */
.menu {
  list-style: none;
  padding: 0;
  display: flex;
}

/* Estilo dos itens da lista de menu (menu li) */
.menu li {
  position: relative;
}

/* Estilo dos links dos itens do menu (menu li a) */
.menu li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Estilo do submenu (menu li ul) */
.menu li ul {
  position: absolute;
  top: 100%; /* Posiciona o submenu abaixo do item pai */
  left: 0;
  background-color: #fff;
  display: none;
  padding: 0;
  border: 1px solid #ccc;
  z-index: 1;
}

/* Estilo dos itens do submenu (menu li ul li) */
.menu li ul li {
  display: block;
  padding: 8px 15px;
}

/* Estilo do link do submenu (menu li ul li a) */
.menu li ul li a {
  color: #333;
  text-decoration: none;
}

/* Mostra o submenu ao passar o mouse no item pai (menu li:hover ul) */
.menu li:hover ul {
  display: block;
}

/* Estilo do efeito hover nos links do menu */
.menu li a:hover {
  background-color: #e3175e;
  color: #fff;
  text-shadow: 0px 0px 5px #fff;
}